*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo', sans-serif;
}
span,input,img,a,button{
    display: inline-block;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapp{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 70vh;
    position: relative;
}
.area .info{
    height: 100%;
    color: whitesmoke;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.area .info h1{
    font-size:clamp(30px , 30vw , 40px);
}
.area .info p{
    width: min(600px , 90%);
    line-height: 1.6;
}
.area .info form{
    background-color: aqua;
    display: flex;
    width: min(600px , 90%);
    border-radius: 5px;
    overflow: hidden;
}
.area .info form input{
    flex-grow: 1;
    padding: 20px 30px;
    outline: 0;
    border: 0;
}
.area .info form button{
    border: 0;
    outline: 0;
    padding: 0 30px;
    cursor:pointer
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:250px;
    grid-auto-flow: dense;
    gap: 20px;
    overflow: hidden;
}
.images .img-card{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.images .img-card:nth-child(3n - 2){
    grid-column: span 2;
    grid-row: span 2;
}
.images .img-card .img-header{
    height: 100%;
    cursor: pointer;

    width: 100%;
}
.images .img-card .img-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.683));
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.4s linear;
    -o-backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

}

.images .img-card:hover .img-content{
    transform: translateY(0);
}

.images .img-card .img-content h4{
    color: whitesmoke;
    font-size: 25px;
}
.images .img-card .img-content .icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    background-color: whitesmoke;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .wrapp{
        width: 100%;
        padding: 20px;
    }
    .images .img-card:nth-child(3n - 2){
        grid-column:unset;
        grid-row:unset;
    }
}

.button-55 {
  margin: 30px auto 0;
  display: block;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.model{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 28, 28, 0.613);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}
.model.show{
    display: flex;
}
.model .pop-up{
    width: min(600px , 80%);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height:min(900px , 70%); ;
    background-color: whitesmoke;

}
.model .pop-up .pop-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.model .pop-up .pop-content{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    transition: all 0.5s ease-out;
    -o-backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
}
.model .pop-up:hover .pop-content{ 
    animation: animateRight 0.5s ease-out 1 forwards;
}
.model .pop-up .pop-content span{
    font-size: 30px;
    cursor: pointer;
    color: black;
    text-align: center;
    position: relative;
}
.model .pop-up .pop-content span::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-60% , -55%);
    z-index: -1;
}
@keyframes animateRight {
    
   0%{
    right: -100%;
   }

   50%{
    right: 10%;
   }

   100%{
    right: 0;
   }

}